%nav.navbar.navbar-default
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "eCommerce Demo", root_path, class: "navbar-brand"
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      / %ul.nav.navbar-nav
      %ul.nav.navbar-nav.navbar-right
        - if current_user
          %li.dropdown
            = link_to "#", class: "dropdown-toggle", "aria-expanded" => "false", "aria-haspopup" => "true", role: "button", data: { toggle: "dropdown" } do
              = "Hi, #{current_user.name}!"
              %span.caret
            %ul.dropdown-menu
              - if current_user.admin?
                %li
                  = link_to "Orders", admin_orders_path
              %li.divider{:role => "separator"}
              %li
                = link_to logout_path, method: :delete do
                  = fa_icon "sign-out"
                  = "Logout"
        - else
          %li
            = link_to login_path do
              = fa_icon "sign-in"
              = "Login"
